.p-0 {
  padding: 0
}

.m-0 {
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.MuiDataGrid-cell {
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}